<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>올! 블루</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <th:block th:replace="main/common/common-css :: common_css"></th:block>
  <link rel="stylesheet" th:href="@{/css/home/home.css}" href="/css/home/home.css" type="text/css">

</head>
<body>
<header th:replace="main/common/header :: header"></header>

<div class="container-fluid">
  <div class="row home__nav">
    <div class="col-xl-2 col-2" style="padding-right: 0px">
      <div class="title__box">MY 블루</div>
      <th:block th:replace="main/common/myhome-nav :: myhomeNav"></th:block>
    </div>
    <div class="col-xl-9 col-10">
      <th:block th:replace="main/common/myhome-listbox :: listbox"></th:block>

      <div class="modify__member container mt-4">
        <nav class="member__info__edit">
          <h2>회원정보 확인</h2>
        </nav>
        <div class="member__info__content__wrap">
          <div class="member__info__content__top">
            <span class="email__text" th:text="${email}">test@gmail.com</span>님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 입력해주세요.
          </div>
          <table class="table">
            <tr>
              <th>아이디(이메일)</th>
              <td th:text="${email}"></td>
              <input type="hidden" name="email" th:value="${email}"/>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td>
                <input type="password" name="memberPassword" id="memberPassword"/>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="modify__button__wrap d-flex flex-row justify-content-center">
                  <button type="reset" class="mr-2 modify__button">취소</button>
                  <button type="button" onclick="checkPassword()" class="modify__button">확인</button>
                </div>
              </td>
            </tr>

            <tr>
              <th>아이디(이메일)</th>
              <td>이메일</td>
            </tr>
            <tr>
              <th>이름</th>
              <td>
                <div>
                  <input type="text" name="memberName" id="memberName" th:value="">
                  홍길동
                </div>
                <button class="btn btn-sm btn-primary m-2">이름 변경</button>
              </td>

            </tr>
            <tr>
              <th>휴대폰 번호</th>
              <td>
                <div>
                  01055555555
                </div>
                <button class="btn btn-sm btn-primary m-2">휴대폰 번호 변경</button>
              </td>
            </tr>
            <tr>
              <th>비밀번호 변경</th>
              <td class="pwd__wrap">
                <div class="pwd__content__wrap">
                  <div class="pwd__title">
                    현재 비밀번호
                  </div>
                  <div class="pwd__input">
                    <input type="password" name="memberPassword" id="memberPassword"><br/>
                  </div>
                </div>
                <div class="pwd__content__wrap">
                  <div class="pwd__title">
                    새 비밀번호
                  </div>
                  <div class="pwd__input">
                    <input type="password" name="newPassword" id="newPassword"><br/>
                  </div>
                </div>
                <div class="pwd__content__wrap">
                  <div class="pwd__title">
                    새 비밀번호 다시입력
                  </div>
                  <div class="pwd__input">
                    <input type="password" name="repeatNewPassword" id="repeatNewPassword"><br/>
                  </div>
                </div>
                <div class="pwd__content__wrap">
                  <button class="btn btn-sm btn-primary m-2">비밀번호 변경</button>
                </div>
              </td>
            </tr>
            <tr>
              <th>주소지</th>
              <td class="address__change">
                주소지 추가, 수정, 삭제는 <strong><a th:href="@{/home/my-address/list}">[배송지 관리]</a></strong>에서 가능합니다.
              </td>
            </tr>
          </table>
          <script>
            function checkPassword(){
              const password = $('#memberPassword').val();

              $.ajax({
                method:"post",
                url:"http://localhost:9090/green2209s_08/member/account/modify",
                data:{
                  password:password
                },
                success:function (result){
                  console.log(result);
                  // location.replace("/green2209s_08/member/account/modify-confirm");
                },
                error:function (result){
                  console.log(result);
                }
              })
            }

          </script>
        </div>
      </div>

    </div>
    <div class="col-xl-1">
      <th:block th:replace="main/common/wishlist :: wishlist"></th:block>
    </div>
  </div>
</div>


<footer th:replace="main/common/footer :: footer"></footer>
<th:block th:replace="main/common/common-js :: common_js"></th:block>
</body>
</html>