<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>올! 블루</title>
    <th:block th:replace="~{main/common/common-css :: common_css}"></th:block>

    <script>
        $(function(){
            let token = '${token}';
            console.log(token);
            $.ajax({

            });
        });
    </script>
</head>
<body>

<header th:replace="main/common/navbar-main :: header"></header>


<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="confirm__wrap">
        <article class="mt-3" stlye="width:100%">
            <img src="/green2209s_08/img/logo-sub.png" alt="로고"/>
        </article>
        <div class="sign_in d-flex flex-column justify-content-center align-items-center mt-5" stlye="width:100%;" >
            <h3 class="h4 font-weight-bold">회원가입 성공</h3>
            <p>
                <button class="join__button" type="button" onclick="location.replace('http://localhost:9090/green2209s_08/');">홈페이지 가기</button>
            </p>
        </div>
    </div>
</div>

<th:block th:replace="~{main/common/common-js :: common_js}"></th:block>
<footer th:replace="main/common/footer :: footer"></footer>

</body>
</html>