<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>올! 블루</title>

  <th:block th:replace="~{main/common/common-css :: common_css}"></th:block>

</head>
<body>

  <header th:replace="main/common/navbar-main :: header"></header>


  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="confirm__wrap">
      <article class="mt-3" stlye="width:100%">
        <img src="/green2209s_08/img/logo-sub.png" alt="로고"/>
      </article>
      <div class="sign_in d-flex flex-column justify-content-center align-items-center mt-5" stlye="width:100%;" >
        <h3 class="h4 font-weight-bold">인증 링크를 메일로 발송했습니다.</h3>
        <p>
            <span class="h5 font-weight-bold" th:text="${email}">
              test@gmail.com
            </span>
        </p>
        <p class="">
          이메일로 전송받은 <strong>인증 링크</strong>를 확인하세요.
          <br/>
          인증 링크는 전송 이후 1시간 동안 유효합니다
        </p>
      </div>
    </div>
  </div>

  <th:block th:replace="~{main/common/common-js :: common_js}"></th:block>
  <footer th:replace="main/common/footer :: footer"></footer>

</body>
</html>