<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  로그인 모달창  -->
<section th:fragment="loginModal">
  <div class="modal" id="login-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <div class="modal-logo">
            <img src="/green2209s_08/img/logo-sub.png" alt="올 블루 로고">
          </div>
          <div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form id="modal-login-form">
            <div class="form-input-email">
              <input type="text" id="email" name="email" placeholder="아이디(이메일)"/>
            </div>
            <div class="form-input-password">
              <input type="password" id="password" name="password" placeholder="비밀번호"/>
            </div>
            <div class = "login__result validate__result"></div>
            <div class="form-input-button">
              <button type="button" onclick="login()" class="primary-btn">로그인</button>
            </div>
          </form>
          <ul class="d-flex justify-content-around login-list">
            <li>
              <a href="">
                아이디 찾기
              </a>
            </li>
            <li>
              <a href="">
                비밀번호 찾기
              </a>
            </li>
            <li>
              <a href="">
                회원가입
              </a>
            </li>
          </ul>
        </div>

        <script th:src="@{/js/logic/member/login.js}" src="/green2209s_08/js/member/login.js"></script>

      </div>
    </div>
  </div>
</section>