<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>올! 블루</title>

  <th:block th:replace="main/common/common-css :: common_css"></th:block>
</head>

<body>
<header th:replace="main/common/header :: header"></header>

<!-- Shoping Cart Section Begin -->
<section class="search__wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-11">
        <div class="container">
          <div class="filter__item">
            <strong>'구피'</strong>에 대한 검색결과
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="filter__sort">
                <span>구분</span>
                <select style="display: none;">
                  <option value="0">기본</option>
                  <option value="0">기본</option>
                  <option value="0">평점순</option>
                  <option value="0">리뷰순</option>
                  <option value="0">구매순</option>
                  <option value="0">낮은가격순</option>
                  <option value="0">높은가격순</option>
                </select>
                <div class="nice-select" tabindex="0">
                  <span class="current">기본</span>
                  <ul class="list">
                    <li data-value="0" class="option selected focus">기본</li>
                    <li data-value="0" class="option">평점순</li>
                    <li data-value="0" class="option">리뷰순</li>
                    <li data-value="0" class="option">구매순</li>
                    <li data-value="0" class="option">낮은가격순</li>
                    <li data-value="0" class="option">높은가격순</li>
                  </ul>
                </div>
              </div>
              <div class="item__search__result__wrap">
                <div class="row item__search__result">
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                </div>

                <div class="row item__search__result">
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                </div>

                <div class="row item__search__result">
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                </div>

                <div class="row item__search__result">
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                  <div class="col item__search__content">
                    <div class="search__img">
                      <img th:src="@{/img/product/test.jpg}" alt="">
                    </div>
                    <div class="item__info">

                    </div>
                    <div class="item__result__title">
                      LED 전구 PAR30 파삼공 15W 5개 E26
                    </div>
                    <div class="item__result__amount">
                      <span>
                        22,000
                      </span>
                      <span>
                         원
                      </span>
                    </div>
                    <div>
                      ★★★★★
                    </div>

                  </div>
                </div>

                <nav class="mb-5" aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link">이전</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">다음</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-1">
        <th:block th:replace="main/common/wishlist :: wishlist"></th:block>
      </div>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->

<footer th:replace="main/common/footer :: footer"></footer>

<th:block th:replace="main/common/common-js :: common_js"></th:block>


</body>

</html>