<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="extra">
  <div class="modal" id="extraModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form name="extraImages" id="extraForm" enctype="multipart/form-data">
            <input type="file" class="form-control" id="extra-image" name="extra" multiple="multiple" accept="image/png, image/jpeg"/>
            <div class="d-flex flex-row mt-3 justify-content-center pt-5 pb-3">
              <button type="button" class="btn btn-outline-warning mr-1" data-dismiss="modal">돌아가기</button>
              <button type="button" onclick="extraSubmit()" class="btn btn-primary">수정하기</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function extraSubmit() {
      if($('#extra-image').get(0).files.length === 0) {
        alert('추가이미지는 최소 한 장 이상 업로드해야 합니다.');
        return;
      }

    }
  </script>
</section>

<section th:fragment="thumbnail">
  <div class="modal" id="thumbnailModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form name="thumbnailForm" id="thumbnailForm">
            <input type="file" class="form-control" id="thumbnail-image" name="thumbnail" accept="image/png, image/jpeg"/>
            <div class="d-flex flex-row mt-3 justify-content-center pt-5 pb-3">
              <button type="button" class="btn btn-outline-warning mr-1" data-dismiss="modal">돌아가기</button>
              <button type="button" onclick="thumbnailSubmit()" class="btn btn-primary">수정하기</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function thumbnailSubmit() {

      if($('#thumbnail-image').get(0).files.length === 0) {
        alert('대표이미지는 최소 한 장 이상 업로드해야 합니다.');
        return;
      }

    }
  </script>
</section>