<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common_css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/8b6103ad59.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
</th:block>
