<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="listbox" class="row list__box">
  <li class="col-sm-4">
    <div class="list__title">
      배송중
    </div>
    <div class="list__content">
      1건
    </div>
  </li>
  <li class="col-sm-4">
    <div class="list__title">
      블루머니
    </div>
    <div class="list__content">
      1000원
    </div>
  </li>
  <li class="col-sm-4">
    <div class="list__title">
      할인쿠폰
    </div>
    <div class="list__content">
      1장
    </div>
  </li>
</ul>
