<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="wishlist" class="search__wishlist sticky-top">
  <li class="search__wishlist__title">
    장바구니
    <span><i class="fa-solid fa-play"></i></span>
  </li>
  <li class="wishlist__wrap">
    <div class="wishlist__content">
      <img th:src="@{/img/product/product-1.jpg}" alt="">
    </div>
  </li>
  <li class="wishlist__wrap">
    <div class="wishlist__content">
      <img th:src="@{/img/product/test.jpg}" alt="">
    </div>
  </li>
  <li class="wishlist__wrap">
    <div class="wishlist__content">
      <img th:src="@{/img/product/product-2.jpg}" alt="">
    </div>
  </li>
  <li class="wishlist__wrap">
    <div class="wishlist__content">
      <img th:src="@{/img/product/product-1.jpg}" alt="">
    </div>
  </li>
</ul>
