<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>올! 블루</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="main/common/common-css :: common_css"></th:block>

    <link rel="stylesheet" th:href="@{/css/home/home.css}" href="/css/home/home.css" type="text/css">

</head>
<body>
<header th:replace="main/common/header :: header"></header>

<div class="container-fluid">
    <div class="row home__nav">
        <div class="col-xl-2 col-2" style="padding-right: 0px">
            <div class="title__box">MY 블루</div>
            <th:block th:replace="main/common/myhome-nav :: myhomeNav"></th:block>
        </div>
        <div class="col-xl-9 col-10">

            <div class="order__list__wrap container mt-4">
                <nav class="order__list">
                    <h2>주문목록</h2>
                    <form>
                        <div class="search__wrap">
                            <input class="form-control" type="text" name="query" id="query" placeholder="주문한 상품을 검색해 보세요!"/>
                        </div>
                        <div class="mt-2 cond__wrap">
                            <select class="form-control-sm" name="OrderDateEnum" id="OrderDateEnum">
                                <option value="WHILE_SIX_MONTH">최근 6개월</option>
                                <option value="WHILE_YEAR">1년</option>
                                <option value="ALL">전체조회</option>
                            </select>
                            <button class="btn btn-primary btn-sm">검색</button>
                        </div>
                    </form>
                </nav>
                <hr/>
                <div class="order__status__info mb-4">
                    <div class="order__status__title">
                        <span class="font-weight-bold h5">
                            주문 상태 안내
                        </span>
                    </div>
                    <ul class="d-flex flex-row">
                        <li class="mr-2">
                            <span class="badge badge-warning">
                                주문, 결제완료
                            </span>
                        </li>
                        <li class="mr-2">
                            <span class="badge badge-warning">
                                상품준비중
                            </span>
                        </li>
                        <li class="mr-2">
                            <span class="badge badge-warning">
                                배송중
                            </span>
                        </li>
                        <li>
                            <span class="badge badge-warning">
                                배송완료
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="table__wrap">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>구매일</th>
                            <th>결제 내역</th>
                            <th>주문 금액</th>
                            <th>비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${#strings.substring(order.createdDate, 0, 10)}">
                            </td>
                            <td th:text="${order.orderItemName}">

                            </td>
                            <td>
                                <span>상품 금액</span>
                                <span th:text="${order.totalPrice}"></span><br/>
                                <span>배달비</span>
                                <span th:text="${order.totalDeliveryPrice}"></span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/order/detail/{orderId}(orderId=${order.ordersId})}">
                                    상세보기
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-1">
            <th:block th:replace="main/common/wishlist :: wishlist"></th:block>
        </div>
    </div>
</div>


<footer th:replace="main/common/footer :: footer"></footer>
<th:block th:replace="main/common/common-js :: common_js"></th:block>
</body>
</html>