.home__nav{

}

.home__nav .title__box{
    background-color: var(--maincolor);
    color: var(--content);
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.home__nav .list__box{
    background-color: var(--subcolor);
    color: var(--content);
    height: 120px;
    padding: 20px 0px 0px 30px;
}

.home__nav .list__box ul li:not(:last-child){
    border-right: 1px solid #fff;
}

.list__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.list__content{
    font-size: 2rem;
    font-weight: lighter;
}