
.home__nav .title__box{
    background-color: var(--maincolor);
    color: var(--content);
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.home__nav .list__box{
    background-color: var(--subcolor);
    color: var(--content);
    height: 120px;
    padding: 20px 0px 0px 30px;
}

.home__nav .list__box ul li:not(:last-child){
    border-right: 1px solid #fff;
}

.list__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.list__content{
    font-size: 2rem;
    font-weight: lighter;
}

.myhome__nav__wrap{
    border-left: 1px solid var(--maincolor);
    border-right: 1px solid var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
    background-color: var(--backgroundgrey);
    padding: 16px 10px;
}

.myhome__nav__wrap div{
    margin-top: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--grey);
}

.myhome__nav .myhome__title{
    font-size: 14px;
    font-weight: 700;

}

.myhome__nav li{
    font-size: 12px;
    margin: 8px;
}

.my__address__list__wrap{
    margin: 0 auto;
    width: 80%;
}

.address__content__wrap{
    border: 2px solid var(--lightgrey);
    margin-top: 16px;
    margin-bottom: 14px;
    padding: 8px;
}

.address__content{
    padding: 8px;
    border-bottom: 1px solid var(--lightgrey);
}

.btn__addAddress{
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-weight: 700;
    border-bottom: 2px solid var(--lightgrey);
    border-top: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
    border-left: 1px solid var(--lightgrey);
}

.btn__addAddress:hover{
    color: #007bff;
}

.address__input__wrap{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid var(--backgroundgrey);
}

.address__input__wrap input{
    width: 100%;
    border: 0px;
}

.address__input__wrap input:read-only{
    background-color: #fff;
}

.address__input__wrap input::placeholder{
    font-size: 18px;
 }

#addressInput::placeholder{
    color: var(--maincolor);
}

.address__input__wrap #addressInput:hover{
    cursor: pointer;
}

.address__input__wrap label{
    font-size: 12px;
}

.address__input__wrap:focus-within{
    border: 1px solid var(--maincolor);
}