
.home__nav .title__box{
    background-color: var(--maincolor);
    color: var(--content);
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.table__wrap{
    width: 100%;
}

.table__wrap .table tr th{
    background-color: var(--backgroundgrey);
    color: var(--grey);
}

.table__wrap .table tr td a{
    color: #000;
}

.table__wrap .table tr td a:hover{
    color: #000;
}

.home__nav .list__box{
    background-color: var(--subcolor);
    color: var(--content);
    height: 120px;
    padding: 20px 0px 0px 30px;
}

.home__nav .list__box ul li:not(:last-child){
    border-right: 1px solid #fff;
}

.list__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.list__content{
    font-size: 2rem;
    font-weight: lighter;
}

.myhome__nav__wrap{
    border-left: 1px solid var(--maincolor);
    border-right: 1px solid var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
    background-color: var(--backgroundgrey);
    padding: 16px 10px;
}

.myhome__nav__wrap div ul li a{
    color: #000;
}

.myhome__nav__wrap div ul li a:hover{
    color: var(--maincolor);
}

.myhome__nav__wrap div{
    margin-top: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--grey);
}

.myhome__nav .myhome__title{
    font-size: 14px;
    font-weight: 700;

}

.myhome__nav li{
    font-size: 12px;
    margin: 8px;
}

.my__address__list__wrap{
    margin: 0 auto;
    width: 80%;
}

.address__content__wrap{
    border: 2px solid var(--lightgrey);
    margin-top: 16px;
    margin-bottom: 14px;
    padding: 8px;
}

.address__content{
    padding: 8px;
    border-bottom: 1px solid var(--lightgrey);
}

.btn__addAddress{
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-weight: 700;
    border-bottom: 2px solid var(--lightgrey);
    border-top: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
    border-left: 1px solid var(--lightgrey);
}

.btn__addAddress:hover{
    color: #007bff;
}

.address__input__wrap{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid var(--backgroundgrey);
}

.address__input__wrap input{
    width: 100%;
    border: 0px;
}

.address__input__wrap input:read-only{
    background-color: #fff;
}

.address__input__wrap input::placeholder{
    font-size: 18px;
 }

#addressInput::placeholder{
    color: var(--maincolor);
}

.address__input__wrap #addressInput:hover{
    cursor: pointer;
}

.address__input__wrap label{
    font-size: 12px;
}

.address__input__wrap:focus-within{
    border: 1px solid var(--maincolor);
}

.member__info__edit h2{
    font-size: 24px;
    font-weight: 700;
}
.member__info__content__top{
    font-size: 12px;
    font-weight: 700;
    color: var(--grey);
    margin: 12px 0px;
}

.member__info__content__top .email__text{
    color: var(--maincolor);
}

.modify__button__wrap button[type=reset]{
    background-color: var(--lightgrey);
}

.modify__button__wrap button[type=button]{
    background-color: var(--subcolor);
}

.modify__button{
    padding: 8px;
    border: 1px solid var(--lightgrey);
    border: 0px;
    font-size: 12px;
}

.modify__member{
    height: 100vh;
}

.pwd__wrap{
    display: table;
}

.pwd__content__wrap{
    display: table-row;
}

.pwd__title{
    font-size: 12px;
    display: table-cell;
}

.pwd__input{
    margin-left: 8px;
    margin-bottom: 12px;
}

.pwd__input .input{
    padding: 8px;
}

.address__change a{
    color: var(--maincolor);
}
.address__change a:hover{
    color: var(--maincolor);
}

.order__list h2{
    font-size: 24px;
    font-weight: 700;
}

.order__list .search__wrap{
    width: 70%;
    height: 36px;
    background-color: #fff;
    border: 1px solid var(--backgroundgrey);
    border-radius: 5px;
}

.order__list .search__wrap #search{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 70%;
    font-size: 16px;
    color: var(--grey);
}

.order__list .cond__wrap .searchCond{
    color: #fff;
}
.order__card__title b{
    font-size: 20px;
    font-weight: 700;
}

.card__title .title{
    font-size: 20px;
    font-weight: 700;
}

.card__title .arrived__date{
    font-size: 20px;
    color: var(--green);
}

.card__content .img__wrap{
    width: 64px;
    height: 64px;
}

.card__content .img__wrap img{
    display:block;
    width:100%;
    height:auto
}

.order__table tbody tr td:nth-child(1){
    border-right: 1px solid rgba(0,0,0,.125);
    width: 70%;
}

.order__table tbody tr td:nth-child(2){
    width: 30%;
}

.card__content .order__table{
    margin-bottom: 0px;
}

.order__card .card-body{
    padding-bottom: 0px;
}

.table__info__wrap {
    width: 100%;
    height: 100%;
}

.table td{
    vertical-align: middle;
}

.order__btn__wrap {
    display: flex;
    flex-font: row;
    justify-content: center;
    margin-bottom: 16px;
    margin-right: 6px;
}

.order__btn{
    border: 1px solid var(--lightgrey);
    border-radius: 5px;
    background-color: #fff;
    color: var(--grey);
    font-size: 18px;
    padding: 5px 17px;
    font-weight: 300;
}

.return__list h2{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 12px;
}

.return__list__wrap .card .card-body h4{
    font-size: 16px;
    font-weight: 700;
}

.review__top{
    display: flex;
    flex-flow: row;
    border: 1px solid var(--lightgrey);
    padding: 16px 0px 0px 16px;
    margin-bottom: 18px;
}

.review__top__left{
    padding-right: 16px     ;
}

.review__top__left span{
    font-size: 24px;
    font-weight: 300;
}

.review__top__middle{
    padding: 0px 30px 0px;
}

.review__top__middle .title{
    font-size: 18px;
    font-weight: 500;
}


.review__top__middle .content strong{
    font-size: 45px;
    font-weight: 300;
}

.review__top__right{
    padding: 0px 50px 0px;
}

.review__top__right .title{
    font-size: 18px;
    font-weight: 500;
}

.review__top__right .content strong{
    font-size: 45px;
    font-weight: 300;
}

.review__check__wrap{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--grey);
}

.review__check__wrap li{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.review__check__wrap li:nth-child(1){
    border-right: 1px solid var(--grey);
}

.review__table tr td .img__wrap{
    width: 80px;
    height: 80px;
}

.review__table tr td .img__wrap img{
    display:block;
    width:100%;
    height:100%
}



.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:center;
    padding:0 .2em;
    text-align:center;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
    font-size: 5rem;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}